<div class="row mt-5">
  <form [formGroup]="loginForm">
    <div class="mb-3 col-md-5 col-lg-4 mx-auto">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
      <ng-container *ngIf="loginForm.get('email').invalid">
        <div *ngIf="loginForm.get('email').touched&&loginForm.get('email')?.errors['required']" class="form-text">This line needs
          to be filled</div>
        <div *ngIf="loginForm.get('email').touched&&loginForm.get('email')?.errors['email']" class="form-text">This line need to
          be email format</div>
      </ng-container>
    </div>
    <div class="mb-3 col-md-5 col-lg-4 mx-auto">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <ng-container *ngIf="loginForm.get('password').invalid">
        <div *ngIf="loginForm.get('password').touched&&loginForm.get('password')?.errors['required']" class="form-text">This line
          needs to be filled</div>
        <div *ngIf="loginForm.get('password').touched&&loginForm.get('password')?.errors['minlength']" class="form-text">This line
          needs to 5 character</div>
      </ng-container>
    </div>
    <div class="col-md-5 col-lg-4 mx-auto">
      <button [disabled]="!loginForm.valid" class="btn btn-primary" (click)="registerClick()">Login</button>
    </div>
    <!-- <asl-google-signin-button></asl-google-signin-button> -->
  </form>
</div>
